.cell {
  width: 25px;
  height: 25px;
  outline: 1px solid #14263a;
  display: inline-block;
  padding: 0px;
  /* font-size: 0px; */
}

.empty {
  background: white;
}

.blocked{
  background: rgb(65, 47, 47);
}



.visited{
  animation-name: aaa;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
.alive{
  background: #09af09;
  animation-name: bbb;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes aaa {
  0% {
    outline: 0px;

    transform: scale(1);
      background-color: #09af09;

    border-radius: 100%;
  }
    15%{
            outline: 0px;

    transform: scale(0.8);
        background-color: #09af09;
  }
    36%{
            outline: 0px;

    transform: scale(0.8);
        background-color: #06420646;
  }
    48%{
            outline: 0px;

    transform: scale(0.7);
        background-color: #530e0a8e;
  }
    60%{
            outline: 0px;

    transform: scale(0.75);
        background-color: #c2302586;
  }

  70% {
          outline: 0px;
    transform: scale(0.8);

    background-color: #f1a043c9[]
  }

  85% {
          outline: 0px;

    transform: scale(0.9);
    background-color: #ffe79a;
  }

  100% {

    transform: scale(1);
    background-color: #fffac8
  }
}

@keyframes bbb {
  0% {
      outline: 0px;

    transform: scale(0.8);
    background-color: #d2f5d2;
    border-radius: 100%;
  }
  25%{
          outline: 0px;

    transform: scale(1);
  }
  50% {
          outline: 0px;

    transform: scale(1.2);

    background-color: #82db82;
  }

  75% {
          outline: 0px;

    transform: scale(1.1);
    background-color: #33c933;
  }

  100% {

    transform: scale(1);
    background-color: #09af09;
  }
}